

  /* EDIT AND DELETE BUTTON */
  .btn-block {
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 250px;
}
/* 
#myImage{
  object-fit: cover;
} */

.myForm{
  margin: 20px 250px 20px 250px;
}

.exampleFormControlTextarea1{
  width: 800px;
  height: 100px;
}

.myBack{
  background-color: #211e1e;
  color: white;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.btnToConnect{
  display: inline-block;
}

.pagination{
  border: 1px solid black;
  padding: 5px;
  padding-left: 33%;
  
}

.pagination a{
  text-decoration: none;
  margin: 4px;
  background-color: black;
  padding: 8px;
  color: white;
}

.myPB:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

